<div class="unauth-content d-flex justify-content-center align-items-center">
    <div class="card">
        <div class="card-header text-center fs-5">
            Register
        </div>
        <div class="card-body">
            <div class="mb-3">
                <input class="form-control form-control-sm shadow-sm" type="email" placeholder="Name">
            </div>
            <div class="mb-3">
                <input class="form-control form-control-sm shadow-sm" type="email" placeholder="Email">
            </div>
            <div class="mb-3">
                <input class="form-control form-control-sm shadow-sm" type="text" placeholder="Password">
            </div>
            <div class="mb-3">
                <input class="form-control form-control-sm shadow-sm" type="text" placeholder="Confirm Password">
            </div>
            <div class="mb-0">
                <button class="btn btn-sm btn-outline-dark shadow-sm w-100"><i
                        class="fa-solid fa-user-plus me-2"></i>Sign-Up</button>
            </div>
        </div>
        <div class="card-footer">
            <div class="btn-group btn-group-sm w-100" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-dark shadow-sm" routerLink="../"><i
                        class="fa-solid fa-arrow-left me-2"></i>Back</button>
                <button type="button" class="btn btn-outline-dark shadow-sm" routerLink="../login"><i
                        class="fa-solid fa-arrow-right-to-bracket me-2"></i>Login</button>

            </div>
        </div>
    </div>
</div>