.comapny-name {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3rem;
    color: #3B8AEE;
}

.register-hint {
    font-size: 20px;
    text-align: center;
    margin-bottom: 1rem;
}

a {
    color: blue;
    text-decoration: none;
    font-size: large;
}

::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: black;
    }

    mat-form-field {

        .mat-hint,
        input,
        ::placeholder,
        .mat-form-field-label {
            color: black;
        }
    }
}