<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <button (click)="toggleSideNav()" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon"
            class="me-2">
            <mat-icon>menu</mat-icon>
        </button>
        <a class="navbar-brand d-flex align-items-center" href="./auth/home">
            <img src="./assets/icons/icon-422x422.png" class="me-2" alt="" width="30"
                height="30">{{appSettings?.header?.title}}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul> -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link py-0" href="#">
                        <div class="dropdown">
                            <button class="btn btn-secondary rounded-circle shadow-sm p-0" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="assets/user.svg" alt="" width="36px" height="36px">
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>