<div class="content">
    <div class="d-flex align-items-center mb-2">
        <div class="me-auto text-light fs-5">SQL Connections</div>
        <div class="me-2">
            <input type="text" class="form-control form-control-sm shadow-sm rounded-pill" placeholder="Search">
        </div>
        <button class="btn btn-sm btn-light shadow-sm rounded-pill">
            <i class="fa-solid fa-circle-plus me-2"></i>New Connection
        </button>
    </div>
    <div *ngFor="let connection of sqlConnections">
        <div class="card mb-2 rounded-pill">
            <div class="card-body ps-3 pe-1 py-1">
                <div class="row g-2">
                    <div class="col-sm-5 align-self-center">
                        ID: safikul@itsnmr.onmicrosoft.com
                    </div>
                    <div class="col-sm-5 align-self-center">
                        STORAGE: ITLSDLG2
                    </div>
                    <div class="col-sm-2 align-self-center d-flex py-0">
                        <div class="me-auto"></div>
                        <button class="btn btn-sm btn-warning shadow-sm me-2 rounded-pill">
                            <i class="bi bi-pencil-square me-2"></i>Edit
                        </button>
                        <button class="btn btn-sm btn-danger shadow-sm me-0 rounded-pill">
                            <i class="bi bi-trash me-2"></i>Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>