<div class="content">
    <div class="d-flex align-items-center mb-2">
        <div class="me-auto">SQL Connection</div>
        <button class="btn btn-sm btn-secondary shadow-sm">New Connection</button>
    </div>
    <div class="card mb-2">
        <div class="card-body px-2">One</div>
    </div>
    <div class="card mb-2">
        <div class="card-body px-2">One</div>
    </div>
    <div class="card mb-2">
        <div class="card-body px-2">One</div>
    </div>
    <div class="card mb-2">
        <div class="card-body px-2">One</div>
    </div>
    <div class="card mb-2">
        <div class="card-body px-2">One</div>
    </div>

</div>