.content {
    margin-top: 56px;
    min-height: calc(100vh - 56px);
}

.ex-b as-split {
    ::ng-deep .as-split-gutter {
        // background-color: grey !important;
        background-color: transparent;
        position: relative;
    }
}