<div class="content">
    <div class="container">
        <div class="row gx-2 gy-2 mb-3">
            <div class="col-sm-3 d-flex align-items-center fs-6">
                <label for="color-theme" class="form-label">Color Theme</label>
            </div>
            <div class="col-sm-3">
                <select id="color-theme" class="form-select form-select-sm shadow-sm {{iconBarButtonStyle}}"
                    aria-label="Default select example" [(ngModel)]="selectedTheme" (change)="setTheme($event)">
                    <option *ngFor="let availableTheme of availableThemes" [value]="availableTheme.name">
                        {{availableTheme.name}}</option>
                </select>
            </div>
        </div>
        <div class="row gx-2 gy-2 mb-3">
            <div class="col-sm-3 d-flex align-items-center fs-6">
                <label for="iconbar-button-style" class="form-label">Iconbar button style</label>
            </div>
            <div class="col-sm-3">
                <select id="iconbar-button-style" class="form-select form-select-sm shadow-sm {{iconBarButtonStyle}}"
                    [(ngModel)]="iconBarButtonStyle" aria-label="Default select example"
                    (change)="setIconBarButtonStyle($event)">
                    <option value="rounded">Rounded</option>
                    <option value="rounded-pill">Rounded Pill</option>
                </select>
            </div>
        </div>
        <div class="row gx-2 gy-2 mb-3">
            <div class="col-sm-3 d-flex align-items-center fs-6">
                <label for="iconbar-button-style" class="form-label">Iconbar button style</label>
            </div>
            <div class="col-sm-3">
                <select id="iconbar-button-style" class="form-select form-select-sm shadow-sm {{iconBarButtonStyle}}"
                    [(ngModel)]="iconBarButtonStyle" aria-label="Default select example"
                    (change)="setIconBarButtonStyle($event)">
                    <option value="rounded">Rounded</option>
                    <option value="rounded-pill">Rounded Pill</option>
                </select>
            </div>
        </div>
        <div class="row gx-2 gy-2 mb-3">
            <div class="col-sm-3 d-flex align-items-center fs-6">
                <label for="iconbar-button-style" class="form-label">Iconbar button style</label>
            </div>
            <div class="col-sm-3">
                <select id="iconbar-button-style" class="form-select form-select-sm shadow-sm {{iconBarButtonStyle}}"
                    [(ngModel)]="iconBarButtonStyle" aria-label="Default select example"
                    (change)="setIconBarButtonStyle($event)">
                    <option value="rounded">Rounded</option>
                    <option value="rounded-pill">Rounded Pill</option>
                </select>
            </div>
        </div>
        <div class="row gx-2 gy-2 mb-3">
            <div class="col-sm-3 d-flex align-items-center fs-6">
                <label for="iconbar-button-style" class="form-label">Iconbar button style</label>
            </div>
            <div class="col-sm-3">
                <select id="iconbar-button-style" class="form-select form-select-sm shadow-sm {{iconBarButtonStyle}}"
                    [(ngModel)]="iconBarButtonStyle" aria-label="Default select example"
                    (change)="setIconBarButtonStyle($event)">
                    <option value="rounded">Rounded</option>
                    <option value="rounded-pill">Rounded Pill</option>
                </select>
            </div>
        </div>

    </div>
</div>