<div class="content">
    <div class="container">
        <div class="mb-2">
            <select class="form-select" aria-label="Default select example" (change)="setTheme($event)">
                <option *ngFor="let availableTheme of availableThemes" [value]="availableTheme.name">
                    {{availableTheme.name}}</option>
            </select>
        </div>
        <cdk-accordion class="appsettings-accordion">
            <cdk-accordion-item *ngFor="let item of items; let index = index;" #accordionItem="cdkAccordionItem"
                class="appsettings-accordion-item" role="button" tabindex="0" [attr.id]="'accordion-header-' + index"
                [attr.aria-expanded]="accordionItem.expanded" [attr.aria-controls]="'accordion-body-' + index">
                <div class="appsettings-accordion-item-header" (click)="accordionItem.toggle()">
                    {{ item }}
                    <span class="appsettings-accordion-item-description text-dark">
                        <i
                            class="fa-solid {{ accordionItem.expanded ? 'fa-chevron-up' : 'fa-chevron-down' }} fa-chevron-down"></i>
                    </span>
                </div>
                <div class="appsettings-accordion-item-body" role="region"
                    [style.display]="accordionItem.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + index"
                    [attr.aria-labelledby]="'accordion-header-' + index">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis
                    excepturi incidunt ipsum deleniti labore, tempore non nam doloribus blanditiis
                    veritatis illo autem iure aliquid ullam rem tenetur deserunt velit culpa?
                </div>
            </cdk-accordion-item>
        </cdk-accordion>
    </div>
</div>