<div class="content d-flex justify-content-center align-items-center">
    <div class="container-fluid text-center">
        <div class="time fs-1 mb-4 text-dark">
            {{today|date:"mediumTime"}}
        </div>
        <div class="date fs-4 mb-4 text-dark">
            {{today|date:"fullDate"}}
        </div>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-dark shadow-sm" routerLink="../login"><i
                    class="fa-solid fa-arrow-right-to-bracket me-2"></i>Login</button>
            <button type="button" class="btn btn-outline-dark shadow-sm" routerLink="../register"><i
                    class="fa-solid fa-user-plus me-2"></i>Join</button>
        </div>
    </div>
</div>