<div class="content">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-12 d-flex">
                <button class="me-auto" mat-raised-button color="primary">Add Note</button>
                <button class="me-2" mat-raised-button>List</button>
                <button class="me-0" mat-raised-button>Grid</button>
            </div>
        </div>
        <div class="row mb-2 gx-2 gy-2">
            <div class="col-sm-12">
                <mat-card>
                    and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions
                    have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the
                    like).
                    and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions
                    have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the
                    like).
                </mat-card>
            </div>
            <div class="col-sm-12">
                <mat-card>Simple card</mat-card>
            </div>
            <div class="col-sm-12">
                <mat-card>Simple card</mat-card>
            </div>
            <div class="col-sm-12">
                <mat-card>Simple card</mat-card>
            </div>
            <div class="col-sm-12">
                <mat-card>Simple card</mat-card>
            </div>
            <div class="col-sm-12">
                <mat-card>Simple card</mat-card>
            </div>
            <div class="col-sm-12">
                <mat-card>
                    and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions
                    have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the
                    like).
                    and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions
                    have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the
                    like).
                </mat-card>
            </div>
            <div class="col-sm-12">
                <mat-card>Simple card</mat-card>
            </div>
            <div class="col-sm-12">
                <mat-card>Simple card</mat-card>
            </div>
            <div class="col-sm-12">
                <mat-card>Simple card</mat-card>
            </div>
            <div class="col-sm-12">
                <mat-card>Simple card</mat-card>
            </div>
            <div class="col-sm-12">
                <mat-card>Simple card</mat-card>
            </div>
            <div class="col-sm-12">
                <mat-card>
                    and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions
                    have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the
                    like).
                    and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions
                    have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the
                    like).
                </mat-card>
            </div>
            <div class="col-sm-12">
                <mat-card>Simple card</mat-card>
            </div>
            <div class="col-sm-12">
                <mat-card>Simple card</mat-card>
            </div>
            <div class="col-sm-12">
                <mat-card>Simple card</mat-card>
            </div>
            <div class="col-sm-12">
                <mat-card>Simple card</mat-card>
            </div>
            <div class="col-sm-12">
                <mat-card>Simple card</mat-card>
            </div>
        </div>
    </div>
</div>