<!-- <div class="d-flex flex-column" id="side-menubar">
    <div class="p-2">Flex item 1</div>
    <div class="p-2">Flex item 2</div>
    <div class="p-2">Flex item 3</div>
</div> -->
<div class="list-group list-group-flush" id="side-menubar">
    <!-- <a *ngFor="let currentRouteMenu of currentRouteMenus" routerLink="{{currentRouteMenu.route}}"
        routerLinkActive="active" class="list-group-item list-group-item-action">{{currentRouteMenu.title}}</a> -->
</div>

<!-- <mat-nav-list>
    <a mat-list-item routerLink="{{currentRouteMenu.route}}" *ngFor="let currentRouteMenu of currentRouteMenus">
        {{currentRouteMenu.title}}</a>
</mat-nav-list> -->