<!-- <div class="auth-child-wrapper">
    <div class="auth-child-side-menubar" [ngClass]="{'hidden': sideMenubarToggleService.hideSideNav }">
        <app-side-menubar></app-side-menubar>
    </div>
    <div class="auth-child-content" [ngClass]="{'hidden': sideMenubarToggleService.hideSideNav }">
        <router-outlet></router-outlet>
    </div>
</div> -->

<div class="content">
    <div class="container-fluid d-flex justify-content-center align-items-center">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 gx-2 gy-2 text-center">
            <div class="col">
                <mat-card routerLink="/">
                    <mat-card-content>
                        <i class="fa-solid fa-house fa-xl fs-5"></i>
                        <div class="mt-3 fs-5">Home</div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col">
                <mat-card routerLink="../dashboard">
                    <mat-card-content>
                        <i class="fa-solid fa-gauge-high fa-xl fs-5"></i>
                        <div class="mt-3 fs-5">Dashboard</div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col">
                <mat-card routerLink="../storage">
                    <mat-card-content>
                        <i class="fa-solid fa-box fa-xl fs-5"></i>
                        <div class="mt-3 fs-5">Storage</div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col">
                <mat-card routerLink="../analysis">
                    <mat-card-content>
                        <i class="fa-solid fa-clipboard-list fa-xl fs-5"></i>
                        <div class="mt-3 fs-5">Analysis</div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col">
                <mat-card>
                    <mat-card-content>
                        <i class="fa-solid fa-database fa-xl fs-5"></i>
                        <div class="mt-3 fs-5">Database</div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col">
                <mat-card>
                    <mat-card-content>
                        <i class="fa-solid fa-link fa-xl fs-5"></i>
                        <div class="mt-3 fs-5">Connections</div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col">
                <mat-card>
                    <mat-card-content>
                        <i class="fa-solid fa-users fa-xl fs-5"></i>
                        <div class="mt-3 fs-5">Users</div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col">
                <mat-card>
                    <mat-card-content>
                        <i class="fa-solid fa-user fa-xl fs-5"></i>
                        <div class="mt-3 fs-5">User Settings</div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col">
                <mat-card>
                    <mat-card-content>
                        <i class="fa-solid fa-gear fa-xl fs-5"></i>
                        <div class="mt-3 fs-5">App Settings</div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col">
                <mat-card routerLink="../emails">
                    <mat-card-content>
                        <span class="position-absolute top-0 start-0 badge rounded-1 bg-danger">
                            3
                            <span class="visually-hidden">unread messages</span>
                        </span>
                        <i class="fa-solid fa-envelope fa-xl fs-5"></i>
                        <div class="mt-3 fs-5">Emails</div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col">
                <mat-card routerLink="../notes">
                    <mat-card-content>
                        <i class="fa-solid fa-check-double fa-xl fs-5"></i>
                        <div class="mt-3 fs-5">Notes</div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col">
                <mat-card routerLink="../chat">
                    <mat-card-content>
                        <span class="position-absolute top-0 start-0 badge rounded-1 bg-danger">
                            7
                            <span class="visually-hidden">unread messages</span>
                        </span>
                        <i class="fa-solid fa-message fa-xl fs-5"></i>
                        <div class="mt-3 fs-5">Meet & Chat</div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>