<div class="content d-flex flex-column justify-content-center align-items-center">
    <div class="some-class">
        <div class="row gx-2 gy-2 mb-2">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">Hello world 1</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">Hello world 1</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">Hello world 1</div>
                </div>
            </div>
        </div>
        <div class="row gx-2 gy-2 mb-2">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">Hello world 2</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">Hello world 2</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">Hello world 2</div>
                </div>
            </div>
        </div>
        <div class="row gx-2 gy-2">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">Hello world 3</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">Hello world 3</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">Hello world 3</div>
                </div>
            </div>
        </div>
    </div>

</div>