mat-card:hover {
    cursor: pointer;
    background: #3f51b6;
    color: white;
    transition: 0.5s ease;
}

.some-class {
    font-size: x-large;
    font-style: italic;
    font-family: sans-serif;
    padding: 3rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}