.auth-chield-wrapper {
    display: flex;
}

.side-menubar {
    min-width: 250px;
    max-width: 250px;
    transition: ease-in-out 0.5s;
    position: fixed;
    overflow-y: auto;
    z-index: 1;
}

.side-menubar.hidden {
    margin-left: -250px;
}

.auth-chield-content {
    margin-left: 250px;
    width: 100%;
    min-height: calc(100vh - 54px);
    transition: ease-in-out 0.5s;
}

.auth-chield-content.hidden {
    margin-left: 0px;
}