<div class="content">
    <div class="container-fluid">
        <div class="dashboard-content">
            <div class="me-2" style="width: 450px;">
                <mat-card class="custom" class="mb-2">
                    <mat-card-content>
                        <div class="row gx-2 gy-2">
                            <div class="col-sm-4">
                                <button class="w-100" mat-raised-button><i
                                        class="fa-solid fa-play text-success"></i></button>
                            </div>
                            <div class="col-sm-4">
                                <button class="w-100" mat-raised-button>
                                    <i class="fa-solid fa-eraser text-danger"></i>
                                </button>
                            </div>
                            <div class="col-sm-4">
                                <button class="w-100" mat-raised-button>Primary</button>
                            </div>
                            <div class="col-sm-4">
                                <button class="w-100" mat-raised-button>Primary</button>
                            </div>
                            <div class="col-sm-4">
                                <button class="w-100" mat-raised-button>Primary</button>
                            </div>
                            <div class="col-sm-4">
                                <button class="w-100" mat-raised-button>Primary</button>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>

                <mat-tab-group mat-align-tabs="center" class="w-100 mb-2">
                    <mat-tab label="New">Content 1</mat-tab>
                    <mat-tab label="Existing">Content 2</mat-tab>
                </mat-tab-group>


                <mat-accordion class="example-headers-align" multi>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Personal data
                            </mat-panel-title>
                            <mat-panel-description>
                                Type your name and age
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div style="width: 100%;">
                <mat-card>Simple card</mat-card>
            </div>
        </div>
    </div>
</div>