<div class="content">
    <div class="container">
        <mat-card class="note-card">
            <mat-card-header>
                <mat-card-title>New Note</mat-card-title>
            </mat-card-header>
            <mat-card-content class="py-0">
                <form [formGroup]="noteForm" class="note-form" (ngSubmit)="onSubmitNoteForm()">
                    <mat-form-field class="note-full-width" appearance="outline">
                        <mat-label>Title</mat-label>
                        <input matInput placeholder="Ex. My ToDo" formControlName="title">
                    </mat-form-field>

                    <mat-form-field class="note-full-width" appearance="outline">
                        <mat-label>Content</mat-label>
                        <textarea matInput placeholder="Ex. Buy an apple" formControlName="content"></textarea>
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions class="d-flex px-2 py-0">
                <button mat-raised-button color="primary" type="submit" (click)="onSubmitNoteForm()">Save</button>
                <button mat-raised-button color="accent" class="me-auto" (click)="resetNoteForm()">Clear</button>
                <button mat-raised-button routerLink="../all-notes">Back</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<p-toast position="bottom-right"></p-toast>