<div class="unauth-content d-flex justify-content-center align-items-center">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
        <div class="card">
            <div class="card-header text-center fs-5">
                Login to your account
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <input formControlName="userName" class="form-control form-control-sm shadow-sm" type="email"
                        placeholder="Email">
                </div>
                <div class="mb-3">
                    <input formControlName="password" class="form-control form-control-sm shadow-sm" type="password"
                        placeholder="Password">
                </div>
                <div class="mb-0">
                    <button type="submit" class="btn btn-sm btn-success shadow-sm w-100" [disabled]="loginForm.invalid">
                        <div *ngIf="loading" class="spinner-border spinner-border-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <div *ngIf="!loading">
                            <i class="fa-solid fa-arrow-right-to-bracket me-2"></i>Login
                        </div>
                    </button>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-sm btn-warning shadow-sm w-100 mb-2" routerLink="../register"><i
                        class="fa-solid fa-unlock-keyhole me-2"></i>Reset Password</button>
                <div class="btn-group btn-group-sm w-100" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-info shadow-sm" routerLink="../"><i
                            class="fa-solid fa-arrow-left me-2"></i>Back</button>
                    <button type="button" class="btn btn-primary shadow-sm" routerLink="../register"><i
                            class="fa-solid fa-user-plus me-2"></i>Join</button>
                </div>

            </div>
        </div>
    </form>
</div>