/* You can add global styles to this file, and also import other style files */

html,
body {
    // height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card,
.auth-wrapper .auth-side-iconbar,
.dropdown-menu,
.navbar {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px 0px, rgba(0, 0, 0, 0.23) 0px 3px 6px 0px;
}

nav.navbar {
    z-index: 99;
}


// auth.component.html
.auth-wrapper,
.unauth-wrapper {
    display: flex;
}

// ------------------------------------ Auth Start------------------------------------------//
.auth-wrapper .auth-side-iconbar {
    margin-top: 54px;
    width: 62px;
    min-height: calc(100vh - 54px);
    position: fixed;
    z-index: 98;
}

.auth-wrapper .auth-content {
    margin-left: 62px;
    width: 100%;
}

.auth-child-wrapper {
    display: flex;
    margin-top: 56px;
}

.auth-child-side-menubar {
    min-width: 250px;
    max-width: 250px;
    transition: ease-in-out 0.5s;
    position: fixed;
    overflow-y: auto;
    z-index: 97;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px 0px, rgba(0, 0, 0, 0.23) 0px 3px 6px 0px;
}

.auth-child-content {
    margin-left: 250px;
    width: 100%;
    transition: ease-in-out 0.5s;
}

.auth-child-content.hidden {
    margin-left: 0px;
}

.auth-child-side-menubar.hidden {
    margin-left: -250px;
}

.auth-child-content {
    margin-left: 250px;
    width: 100%;
}

mat-nav-list,
#side-menubar {
    min-height: calc(100vh - 56px);
    background: whitesmoke;
}

// --------------------------------------Auth End----------------------------------------- //
// ------------------------------------ Unauth Start -------------------------------------- //
.unauth-wrapper .unauth-content {
    width: 100%;
}

// ----------------------------------- Unauth End ------------------------------------------//

.content {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    background: #c0c2cd;
}