/* You can add global styles to this file, and also import other style files */

html,
body {
    // height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card,
.wrapper .side-iconbar,
.dropdown-menu,
.navbar {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px 0px, rgba(0, 0, 0, 0.23) 0px 3px 6px 0px;
}

nav.navbar {
    z-index: 99;
}

.auth-chield-wrapper,
.wrapper {
    display: flex;
}

.wrapper .side-iconbar {
    margin-top: 54px;
    width: 62px;
    min-height: calc(100vh - 54px);
    position: fixed;
    background: white;
    z-index: 98;
}

.wrapper .auth-content {
    margin-left: 62px;
}

.auth-chield-content,
.content {
    margin-top: 54px;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    width: calc(100vw - 56px);
    min-height: calc(100vh - 54px);
    background: #c0c2cd;
}

.side-menubar {
    min-width: 250px;
    max-width: 250px;
    transition: ease-in-out 0.5s;
    position: fixed;
    overflow-y: auto;
    z-index: 97;
}

.side-menubar.hidden {
    margin-left: -250px;
}

.auth-chield-content {
    margin-left: 250px;
    width: 100%;
    min-height: calc(100vh - 54px);
    transition: ease-in-out 0.5s;
}

.auth-chield-content.hidden {
    margin-left: 0px;
}