<div class="content">
    <div class="container-fluid">
        <div style="width: 100%; height: calc(100vh - 90px);">
            <as-split direction="horizontal" unit="percent" [restrictMove]="false" [gutterSize]="3">
                <as-split-area [size]="20" [minSize]="10" [maxSize]="40">
                    <mat-card class="me-1">
                        Chat users list
                    </mat-card>
                </as-split-area>
                <as-split-area [size]="80" [minSize]="20" [maxSize]="90">
                    <mat-card class="ms-1">
                        chat with user
                    </mat-card>
                </as-split-area>
            </as-split>
        </div>

    </div>
</div>