<div class="d-flex flex-column justify-content-center align-items-center p-0" id="side-iconbar">
    <div *ngFor="let sideMenubarList of sideMenubarLists" class="{{sideMenubarList.styleClass}}">
        <a routerLink="{{sideMenubarList.route}}" routerLinkActive="active" [matTooltip]="sideMenubarList.tooltip"
            (click)="getSideMenubarList(sideMenubarList.children)" matTooltipPosition="after">
            <i class="{{sideMenubarList.icon}}"></i>
        </a>
    </div>

    <div class="pb-4">
        <div class="btn-group dropend">
            <a type="button" matTooltip="User Settings" matTooltipPosition="after" data-bs-toggle="dropdown"
                aria-expanded="false" data-bs-offset="0,10">
                <i class="fa-solid fa-user fa-xl"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
        </div>
    </div>
    <div class="pb-3">
        <div class="btn-group dropend">
            <a type="button" matTooltip="Application Settings" matTooltipPosition="after" data-bs-toggle="dropdown"
                aria-expanded="false" data-bs-offset="0,10">
                <i class="fa-solid fa-gear fa-xl"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="./app-settings">App Settings</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" routerLink="./app-settings">Check for Updates...</a></li>
            </ul>
        </div>
    </div>
</div>