ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: #D3D3D3;
    width: 38px;
    height: 38px;
    border-radius: 5px;
}

ul li.active {
    background-color: #3f51b5;
    color: white;
}